rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid} {
      allow create: if request.auth != null &&
      request.auth.uid == request.resource.data.uid;

      // any signed-in user can read basic profile
      allow get: if request.auth != null;

      allow update, delete: if request.auth.uid == resource.data.uid &&
            request.auth != null;
    }
    match /trips/{uid} {
        allow create: if request.auth != null &&
              request.auth.uid == request.resource.data.ownerId;

              allow get, update, delete: if request.auth.uid == resource.data.ownerId &&
              request.auth != null;

              allow list : if request.auth != null &&
                    resource.data.ownerId == request.auth.uid;
    }
    match /durationCache/{entryId} {
          allow read, delete: if request.auth != null;
            allow create, write: if request.auth != null &&
                   isValidCacheEntry(request.resource.data);

          // Helper function to validate the document format
          function isValidCacheEntry(data) {
            return data.keys().hasAll([
                      "startLat",
                      "startLng",
                      "endLat",
                      "endLng",
                      "duration",
                      "transportMode",
                      "lastUpdateTimestamp"
                   ])
                && data.startLat is number
                && data.startLng is number
                && data.endLat is number
                && data.endLng is number
                && data.duration is number
                && data.transportMode is string
                && data.lastUpdateTimestamp is number;
          }
    }
  }
}